<div class="piece690" style="float: left;">
	<div class="piece_hd2"></div>
	<div class="piece_bd2">	
		<div id="resource_register_form">
			<%= render 'form' %>
		</div>
	</div>
	<div class="piece_ft2"></div>
</div>

<div style="float: left;">
	<%= render 'cabernet-sauvignon' %>
	<%= render 'merlot' %>
	<%= render 'pinot-noir' %>
	<%= render 'syrah-shiraz' %>
	<%= render 'cabernet-franc' %>
	<%= render 'malbec' %>
	<%= render 'nebbiolo' %>
	<%= render 'sangiovese' %>
	<%= render 'grenache-granacha' %>
	<%= render 'tempranillo' %>
</div>

<%= javascript_include_tag "resources" %>
